version: "3.8"

services:
  sensor-service:
    build: .
    container_name: sensor-service
    ports:
      - "8000:8000"
    mem_limit: 100m
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=1h"
      - "--storage.tsdb.wal-compression"
    mem_limit: 80m
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    mem_limit: 120m
    restart: always
